<p id="notice"><%= notice %></p>

<h1>Garments</h1>


  <form method="d-flex" action="/garments">
<h4> Search </h4>
   <input class="form-control me-2" placeholder="garments"  aria-label= "Search"type="text" name="filter" />
   <input class="form-control me-2" placeholder="brands"  aria-label= "Search"type="text" name="filter2" />
   <input class="form-control me-2" placeholder="garment_types"  aria-label= "Search"type="text" name="filter3" />
   <br>
 <button class="btn btn-primary" type="submit">Search</button>
  <br>

<table>
  <thead>
    <tr>
        <th><%= link_to "Color", garments_path(:sort => true, :by => "color", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th>Description</th>
      <th>Brand</th>
      <th>Garment type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garments.each do |garment| %>
      <tr>
        <td><%= garment.color %></td>
        <td><%= garment.description %></td>
        <td><%= garment.brand.name%></td>
        <td><%= garment.garment_type.name %></td>
        <td><%= link_to 'Show', garment %></td>
        <td><%= link_to 'Edit', edit_garment_path(garment) %></td>
        <td><%= link_to 'Destroy', garment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @garments %>
<br>

<%= link_to 'New Garment', new_garment_path %>
